body {
  background-color: rgb(95,158,160);
  text-align: center;
  margin: auto;
}

form {
  text-align: center;
  margin: 20px auto;
}

input, button {
  border-radius: 5px;
  padding: 5px;
}

#searchBtn {
  background-color: rgb(160,214,180);
}

#removeBtn {
  background-color: rgba(255, 11, 11, 0.699);
}

